
/*Context Menu--------------------------------------*/
#context-menu{
    position: fixed;
    z-index: 10000;
    width: 18vw;
    background: #1b1a1a;
    color: white;
    transform: scale(0);
    transform-origin: top left;
    font-size: 1vw;
}

#input{
    position: fixed;
    z-index: 10000;
    width: 18vw;
    background: #1b1a1a;
    color: white;
    transform: scale(0);
    transform-origin: top left;
    font-size: 1vw;
}

input{
    color: black;
}

#context-menu.visible{
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#input.visible{
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu .item{
    padding: 2px 3px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .item:hover{
    background: #343434;
    cursor: pointer;
}

/*ActionsMenu----------------------------------*/

#action_name_container{
    width: 100%;
    height: 40px;
}

